{% extends 'rooms/base.html' %}

{% block sidebar %}
<!-- New html-->
<div class="d-flex flex-column align-items-stretch" style="width: 300px;">
  <div class="list-group border-bottom scrollarea">
    {% for item in object_list %}

    <a href="{% url 'chatbot_app:chatbot' item.pk %}" class="list-group-item list-group-item-action {% if item.pk == 1 %} active {% endif %}" aria-current="true">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <img src="https://picsum.photos/50" class="rounded-circle" alt="...">
        <strong class="h5">{{ item.name }}</strong>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock sidebar %}
