{% extends 'rooms/base.html' %}

{% load static %}

{% block main %}
<!--　ユーザのログインを認証する { if user.is_authenticated %}-->
<!--メインのチャット画面 参照: https://www.youtube.com/watch?v=SF1k_Twr9cg -->
{% for item in object_list %}
  {% url 'chatbot_app:chatbot' item.pk as current_url %}
  {% if request.path == current_url %}
    <div class="p-2 mb-2 text-left">
      <h1 class="text-xl lg:text-2xl text-black">{{ item.name }}</h1>
    </div>
    
  {% endif %}
{% endfor %}
<!-- ユーザ名とチャット文 -->
<div class="lg:w-4/6 mx-1 lg:mx-auto p-1 bg-white rounded-xl">
  <div class="chat-messages space-y-3" id="chat-messages">
    {% for chat in chat_list %}
      <!-- is_humanで人とbotの表示位置を変更する -->
      <p class="font-semibold {% if chat.is_human is True %} text-right {% endif %}">{{ chat.user_name }}</p>
      <div class="p-4 mb-4 bg-gray-200 rounded-xl{% if chat.is_human is True %} position-static end-0 text-right ml-5 {% endif %}">
        <p>{{ chat.message }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="position-sticky bottom-1 mt-8 ml-2 mr-2 p-3 bg-gray-300 rounded-xl">
  <form method="post" action="." class="flex">{% csrf_token %}
    <input type="text" name="content" class="flex-1 mr-3" placeholder=" あなたのメッセージ..." id="chat-message-input">
    <!-- ログインしているユーザーの情報を入れる <input type="hidden" name="user_name" value="{{ user.username}}" -->
    <button
      class="px-3 py-2 rounded-xl text-white bg-black hover:bg-gray-400"
      id="chat-message-submit"
    >送信</button>
  </form>
</div>
{% endblock main %}


{% block sidebar %}
<!-- Chatbot一覧 -->
<div class="d-flex flex-column align-items-stretch">
  <div class="list-group border-bottom scrollarea">
    {% for item in object_list %}
    {% url 'chatbot_app:chatbot' item.pk as current_url %}
    <a 
      href="{% url 'chatbot_app:chatbot' item.pk %}" 
      class="mt-1 list-group-item list-group-item-action list-group-item-sidebar {% if request.path == current_url %} active-sidebar {% endif %}" 
      aria-current="true"
    >
      <div class="d-flex flex-row align-items-center justify-content-between">
        <img src="https://picsum.photos/50" class="rounded-circle" alt="...">
        <strong class="h5">{{ item.name }}</strong>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock sidebar %}
