{% extends 'login/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-2 col-md-4 col-lg-6">
            <div class="login_form side_padding top_margin">
                <div class="top_padding">
                    <h3>Complete Reset Passowrd
                        {% load static %}
                        <img src="{% static 'img/cdle_logo.png' %}">
                    </h3> 
                </div> 
                <br>
                <p>パスワードの再設定が完了しました。</p>
                <div class="bottom_padding underline">
                    <a href={% url 'chatbot_app:login' %}>ログインページ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}