{% extends 'login/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login/regist.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-2 col-md-4 col-lg-6">
            <div class="login_form side_padding top_margin">
                <div class="top_padding">
                    <h3>Create Password
                        {% load static %}
                        <img src="{% static 'img/cdle_logo.png' %}">
                    </h3> 
                </div> 
                <br>
                <p>新しいパスワードを入力してください。</p>
                <form method="POST">
                    {% csrf_token %}
                    {% load widget_tweaks %} 
                    <div class="text_bold">新しいパスワード</div>
                    {{ form.new_password1|add_class:"input_box" }}
                    <div class="text_bold">確認</div>
                    {{ form.new_password2|add_class:"input_box" }}
                    <br><br>
                    <input class="login_submit" type="submit" value="送信">
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %} 
                </form>
                <br><br>
                <div class="bottom_padding underline">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}